@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Work+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Work Sans, Noto Sans KR, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  font-weight: 300;
  letter-spacing: -0.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}